<div class="container">
    <h1 class="text-center">
        Formulario Alta de Cliente
    </h1>
    <div>
        <div class="form-row">
            <div class="form-group col-md-12">
                <label>Nombre</label>
                <input type="text" class="form-control" #nombre>
            </div>
            <hr>
            <div class="form-group col-md-12">
                <label>Ap. Paterno</label>
                <input type="text" class="form-control" #apPat>
            </div>
            <hr>
            <div class="form-group col-md-12">
                <label>Ap. Materno</label>
                <input type="text" class="form-control" #apMat>
            </div>
            <hr>
            <div class="form-group col-md-12">
                <label>Telefono</label>
                <input type="text" class="form-control" #telefono>
            </div>
            <hr>
            <div class="form-group col-md-12">
                <label>Fecha de nacimiento</label>
                <input type="text" class="form-control" #fechaNacimiento>
            </div>
        </div>
        <br>
        <div class="form-group">
            <button class="btn btn-primary btn-xs" (click)="guardar()">Guardar</button>
        </div>
    </div>
</div>